<div style="height: 100%" fxLayout="column">

  <mat-sidenav-container class="example-container" style="height: 100%">
    <mat-sidenav #sidenav class="example-sidenav">
      <app-navigation></app-navigation>
    </mat-sidenav>

    <div class="example-sidenav-content"  fxLayout="column" style="height:100%" >

        <div fxFlexFill fxLayout="column" >
            <div>
                <button type="button" mat-button (click)="sidenav.open()">
                    <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                    Menu
                </button>
            
              <span>
                <a mat-button routerLink="/start" color="accent">Start</a>
              </span>
        
              <span>
                <a mat-button routerLink="/about">About</a>
              </span>
        
              <span>
                <a mat-button routerLink="/settings">Settings</a>
              </span>
        
              <span class="example-spacer"></span>
            </div>
        
            <router-outlet></router-outlet>
        
            <!-- Content is here !!! -->
        
            <div>Footer</div>
        
          </div>
        
    </div>

  </mat-sidenav-container>




</div>